<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style2.css" />
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />

    <title>IoT Device Manager</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js" integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/user/dashboard">Dashboard</a></li>
        <li><a href="/user/devices">Devices</a></li>
        <li><a href="/user/alerts">Alerts</a></li>
        <li><a href="/user/profile">Profile</a></li>
        <li><a href="/user/settings">Settings</a></li>
      </ul>
    </nav>
  </body>
</html>
