<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style2.css" />
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <link rel="stylesheet" href="/stylesheets/add-device.css" />

    <title>IoT Device Manager</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/user/dashboard">Dashboard</a></li>
        <li><a href="/user/devices">Devices</a></li>
        <li><a href="/api/alerts">Alerts</a></li>
        <li><a href="/users/profile">Profile</a></li>
        <li><a href="/users/settings">Settings</a></li>
      </ul>
    </nav>
    <body></body>
  </body>
</html>
